/restful-sensorweb-proxy-webapp/nbactions.xml
target
.classpath
.project
.externalToolBuilders
.settings
META-INF
output.txt
restful-timeseries-webapp/src/main/tmp/
sensorwebclient-webapp/nb-configuration.xml
webapp/src/main/tmp/
webapp/cache/
webapp/src/main/resources/git.properties
